<div class="well">
{#{{form(form)}}#}

  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {{ form_errors(form) }}

  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.titre, "Titre de la série", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    <div class="col-sm-10">
      {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
    </div>

  </div>

  <div class="form-group">
    {{ form_label(form.date, "Date de création", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.date) }}
    <div class="col-sm-10">
      {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {{ form_row(form.createur) }}
  <div class="form-group">
        {{ form_label(form.image, "Image", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.image) }}
     <div class="col-sm-10">
        {{ form_widget(form.image, {'url':'Url', 'alt':'Nom'}, {'attr': {'class': 'form-control'}})}}
     </div>
  </div>
    {{ form_row(form.nbSaisons)}}
  {{ form_row(form.genres)}}

   {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}

  {{ form_rest(form) }}
  {{ form_end(form) }}

</div>