{% extends "PWProgresSiesBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}
{% if Series is not empty %}
  <h2>Dernières séries suivies: </h2>

 {% set i = 0 %}
  {% for serie in Series if i<3 %}
<div id="conteneur" class="col-sm-12">
  <div class="row">
 	  <div class="element col-sm-1">
 		   {% if serie.image is not null %}
 			    <img src="{{ serie.image.url }}" width="180" height="250" alt=" {{serie.image.alt}}">
 		   {% endif %}
 	  </div>
   <div class="col-sm-2"></div>
 	 <div class="element col-sm-8" {#style="margin-left: 20px; margin-top:-25px"#}>

 		 <h2> {{ serie.titre}} </h2>
     <p style="margin-top: 20px">Crée par : <strong>{{serie.createur}} ({{serie.date }}) </strong></p>
		 <p>Nombres de saisons : <strong> {{ serie.nbsaisons }}</strong></p>
     {% if not serie.genres.empty %}
      <p>Genre : <strong>
        {%for genre in serie.genres %}
          {{genre.name}}{% if not loop.last %}, {% endif %}
        {% endfor %}
        </strong>
      </p>
     {% endif %}

      <p>Avancement totale : </p>
      <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{serie.avancement}}" aria-valuemin="0" aria-valuemax="100" style="width: {{serie.avancement}}%;">
          {{serie.avancement}}%
          </div>
      </div>

      {% if serie.image is not null %}
        <div class="col-sm-9"></div>
        <div>
          <a href="{{ path('pw_progres_sies_view', {'id': serie.id}) }}">
	        <button type="button" class="btn btn-default" aria-label="Left Align">
  	      <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
  	       Voir Détails
	        </button>
          </a>
        </div>
      {% else %}
        <div style="padding-left: 510px">
          <a href="{{ path('pw_progres_sies_view', {'id': serie.id}) }}">
          <button type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
          Voir Détails
          </button>
          </a>
        </div>
      {% endif %}
 	  </div>
   </div>
   </br>
</div>

 {% set i=i+1 %}
 {% endfor %}
{% else %}
  <h2>Dernières séries suivies: </h2>
  <p> Vous n'avez pas encore de série. N'hésitez pas à en créer une.</p>
{% endif%}
{% endblock %}

{% block add %}
<h2> Ajouter une Série </h2>
<div style="padding-top: 20px">
  <a href="{{ path('pw_progres_sies_add')}}">
    <button type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Ajouter une série
    </button>
  </a>
</div>
{% endblock %}