{% extends "PWProgresSiesBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - View{% endblock %}

{% block header %}
      <div id="header" class="starter-template" style="background-color:#FFFFFF; ">
        <h1 style="text-align: center; font-size:50px">ProgresSies</h1>
      </div>
{% endblock %}

{% block body %}
 <div id="conteneur" style="display: flex; flex-wrap: nowrap;">
 	 <div class="element">
 		{% if serie.image is not null %}
 			<img src="{{ serie.image.url }}" width="180" height="250" alt=" {{serie.image.alt}}">
 		{% endif %}
 	</div>
 	<div class="element" style="margin-left: 20px">
 		<h2> {{ serie.titre}} </h2>
 		<p>Je suis la serie de titre {{serie.titre}}</p></br>
		 <p>J'ai {{ serie.nbsaisons }} saisons</p>
		 <p>J'ai été crée en {{serie.date }} par {{serie.createur}} </p>
 	</div>
</div>
{% endblock %}