{% extends "PWProgresSiesBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - View{% endblock %}

{% block header %}
      <div id="header" class="starter-template" style="background-color:#FFFFFF; ">
        <h1 style="text-align: center; font-size:50px">ProgresSies</h1>
      </div>
{% endblock %}

{% block body %}
 <h2> VOici la serie d'id: {{serie.id}} </h2>
 <p>Je suis la serie de titre {{serie.titre}}</p></br>
 <p>J'ai {{ serie.nbsaisons }} saisons</p>
 <p>J'ai été crée en {{serie.date }} par {{serie.createur}} </p>
{% endblock %}