{% trans_default_domain 'FOSUserBundle' %}
<div class="col-sm-4"></div>
<div class="well col-sm-8" >
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
   <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-2">
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
    </div>
{{ form_end(form) }}
</div>
<div class="col-sm-offset-4" >
      <a href="{{ path('fos_user_security_login') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-menu-left"></i>
      Retour
    </a>
</div>